<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TargetOnly</key>
	<true/>
	<key>Macros</key>
	<dict>
		<key>POD_ABBREVIATION</key>
		<string>OCSP</string>
		<key>POD_PLATFORM_IDENTIFIER</key>
		<string>___POD_PLATFORM_IDENTIFIER___</string>
		<key>POD_NAME</key>
		<string>OCSlimProjectTestBundleSupport</string>
		<key>PRINCIPALCLASSNAME</key>
		<string>OCSlimProjectFitnesseTestsMain</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.cleankit.baseAcceptanceTestsUnitTestBundle</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.unitTestBundleBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>[___POD_ABBREVIATION___] Generate Fitnesse Test Report File</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>
					
REPORT_OUTPUT_FILE_PATH=&quot;${OCSLIMPROJECT_FITNESSE_TEST_REPORT_PATH}&quot;

LOG_FILE_PATH=&quot;${PROJECT_DIR}/${TARGET_NAME}.log&quot;

${PROJECT_DIR}/LaunchFitnesse -d &quot;${PROJECT_DIR}&quot; -b &quot;$REPORT_OUTPUT_FILE_PATH&quot; --test &quot;___VARIABLE_fitnesseSuiteName___&quot; &gt; &quot;$LOG_FILE_PATH&quot;

					</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>FrontPage</string>
			<key>Name</key>
			<string>Fitnesse Suite Name</string>
			<key>Identifier</key>
			<string>fitnesseSuiteName</string>
			<key>Description</key>
			<string>Specify a specific Fitnesse Suite to target</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</dict>
						<key>Info.plist:PrincipalClass</key>
						<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;OCSlimProjectFitnesseTestsMain&lt;/string&gt;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.m</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.swift</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
						</dict>
						<key>Info.plist:PrincipalClass</key>
						<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;OCSlimProjectFitnesseTestsMain&lt;/string&gt;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:PrincipalClass</string>
		<string>___POD_NAME___.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___POD_NAME___.m</key>
		<dict>
			<key>Path</key>
			<string>___POD_NAME___.m</string>
		</dict>
		<key>Info.plist:PrincipalClass</key>
		<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___OCSLIMPROJECTTESTBUNDLEPRINCIPALCLASS___&lt;/string&gt;</string>
	</dict>
</dict>
</plist>
