<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaSlim-Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CocoaSlim_AcceptanceTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>607FACCF1AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607FACE41AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE49471C10C12800FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE495C1C10C34900FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE496F1C10C38300FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE49821C10D8CD00FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE49951C10DB0F00FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE49AC1C10E68800FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEE49BF1C10ECC200FE428C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF7825B1C0B479400546549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
